In [6]:
import pandas as pd
import numpy as np

Part 1

In [7]:
#1. Imported/Cleaned/Wrangled the data

# reading in two files
hapiscore= pd.read_csv('hapiscore_whr.csv')
life= pd.read_csv('life_expectancy_years.csv')

# pivoted the two dataframes
hap=pd.melt(hapiscore,id_vars='country',var_name='year')
life2=pd.melt(life,id_vars='country',var_name='year')

#Merged the two dataframes together
temp= pd.merge(life2,hap,on=['country','year'],how='inner')

#Did some renameing and reordering of col
temp['life expectancy']=temp['value_x']
temp['happiness score']=temp['value_y']
temp=temp[['country','year','life expectancy','happiness score']]
temp

#2.
print('I found there are 2771 rows in the final dataframe.')

I found there are 2771 rows in the final dataframe.

In [8]:
#3. Number of na values in each col
print('The number in each col of missing values is:')
print(temp['year'].isna().sum())
print(temp['country'].isna().sum())
print(temp['life expectancy'].isna().sum())
print(temp['happiness score'].isna().sum())
#temp.isna().sum()

The number in each col of missing values is:
0
0
0
704

In [9]:
#4. Correlation Coefficient
print('The Correlation Coefficient between life expectency and happiness score is .737')
temp['life expectancy'].corr(temp['happiness score'])

The Correlation Coefficient between life expectency and happiness score is .737

0.7373678563727177

In [10]:
#5. The country with highest mean life expectency
print('The country with the higest mean life expectancy is japan.')
temp.groupby('country')['life expectancy'].mean().sort_values()

The country with the higest mean life expectancy is japan.

country
Lesotho                     48.447059
Central African Republic    48.870588
Eswatini                    51.747059
Mozambique                  55.141176
Zimbabwe                    55.347059
                              ...
Iceland                     83.111765
Switzerland                 83.123529
Hong Kong, China            83.364706
Singapore                   83.441176
Japan                       83.858824
Name: life expectancy, Length: 163, dtype: float64

In [11]:
#6. The country with the highest mean happiness score
print('Denmark has the highest mean happiness score.')
temp.groupby('country')['happiness score'].mean().sort_values()

Denmark has the highest mean happiness score.

country
South Sudan                 34.025000
Afghanistan                 35.015385
Central African Republic    35.160000
Burundi                     35.500000
Togo                        36.110000
                              ...
Netherlands                 74.620000
Norway                      74.990909
Switzerland                 75.445455
Finland                     76.128571
Denmark                     76.775000
Name: happiness score, Length: 163, dtype: float64

In [12]:
#7. Fill in missingvalues of happiness score with country mean
temp['happiness score']=temp['happiness score'].fillna(temp.groupby('country')['happiness score'].transform('mean'))

In [13]:
#8. Highest and lowest median score for happiness scores
print('The lowest median score is South Sudan at 34.03.')
print('The highest median score is Denmark at 76.50.')
temp.groupby('country')['happiness score'].median().sort_values()

The lowest median score is South Sudan at 34.03.
The highest median score is Denmark at 76.50.

country
South Sudan                 34.025000
Afghanistan                 35.015385
Central African Republic    35.160000
Burundi                     35.500000
Rwanda                      36.000000
                              ...
Iceland                     74.600000
Norway                      74.990909
Switzerland                 75.445455
Finland                     76.128571
Denmark                     76.500000
Name: happiness score, Length: 163, dtype: float64

Part 2

In [14]:
#1. Compiled the basketball references into a dataset

url = 'https://www.basketball-reference.com/players/'

#created list of alphabet except z
teams = ['a/','b/','c/','d/','e/','f/','g/','h/','i/','j/','k/','l/','m/','n/','o/','p/','q/','r/','s/','t/','u/','v/','w/','y/','z/']

#Ran a forloop to get all the urls
list=[]
for t in teams:
    t=url+t
    list.append(t)

In [15]:
#1. Cont. 

#I tried to make a for loop but it was taking too long so I read in each
#html to create a bunch of dataframes for the last names
a= pd.read_html(list[0])[0]
b= pd.read_html(list[1])[0]
c=pd.read_html(list[2])[0]
d=pd.read_html(list[3])[0]
e=pd.read_html(list[4])[0]
f=pd.read_html(list[5])[0]
g=pd.read_html(list[6])[0]
h=pd.read_html(list[7])[0]
i=pd.read_html(list[8])[0]
j=pd.read_html(list[9])[0]
k=pd.read_html(list[10])[0]
l=pd.read_html(list[11])[0]
m=pd.read_html(list[12])[0]
n=pd.read_html(list[13])[0]
o=pd.read_html(list[14])[0]
p=pd.read_html(list[15])[0]
q=pd.read_html(list[16])[0]
r=pd.read_html(list[17])[0]
s=pd.read_html(list[18])[0]
t=pd.read_html(list[19])[0]
u=pd.read_html(list[20])[0]
v=pd.read_html(list[21])[0]
w=pd.read_html(list[22])[0]
y=pd.read_html(list[23])[0]
z=pd.read_html(list[24])[0]

#combined the data frames in a list
urls=[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,y,z]

In [16]:
#1. Cont.
#compiled all the dataframes together
#I ended up with a dataframe with 5082 rows, which I believe is due to the website changing

bball=pd.concat(urls)

In [17]:
#2. Cleaning and transforming the data and making new varibles

#I set these columns to numeric ignoring errors which creates missing values
bball['From']=pd.to_numeric(bball['From'], errors='coerce')
bball['To']=pd.to_numeric(bball['To'],errors='coerce')
bball['Wt']=pd.to_numeric(bball['Wt'], errors='coerce')

#I created 4 new variables
bball['years_played']=bball['To']-bball['From']+1

bball['Ht_in']=bball['Ht'].str.replace('-',' ').str[0].astype(int)*12 + bball['Ht'].str.split('-').str[1].astype(int)

bball['HoF']=bball['Player'].str.contains('\*')

age=bball['From']-bball['Birth Date'].str.split(',').str[1].astype(float)
bball['start_age']=pd.to_numeric(age, errors='coerce')# to_numeric coerced missing/non numeric values into missings 

#rearranged columns 
final=bball[['Player','From','To','Pos','Ht','Ht_in','Wt','Birth Date', 'start_age','Colleges','years_played','HoF']]

In [18]:
#3a. How many players in Hall of Fame?
print('There are 164 players in the Hall of Fame.')
final['HoF'].sum()

There are 164 players in the Hall of Fame.

164

In [19]:
#3b. Latest 'To' year of players in hall of fame
print('The latest To year of players in the Hall of Fame is 2018.')
final[final['HoF']==True]['To'].max()

The latest To year of players in the Hall of Fame is 2018.

2018

In [20]:
#3c. Which player or players were in the Hall of Fame year found in part b
print('Manu Ginobili was in the Hall of Fame in 2018')
final[(final['HoF']==True)&(final['To']==2018)]

Manu Ginobili was in the Hall of Fame in 2018

,Player,From,To,Pos,Ht,Ht_in,Wt,Birth Date,start_age,Colleges,years_played,HoF
101,Manu Ginóbili*,2003,2018,G,6-6,78,205.0,"July 28, 1977",26.0,NaN,16,True

In [21]:
#3d. Fill out table with corresponding means:
print('Players not in Hall of Fame')
print('Mean Height = ' + str(round(final[final['HoF']==False]['Ht_in'].mean(), 2)))
print('Mean Weight = ' + str(round(final[final['HoF']==False]['Wt'].mean(), 2)))
print('Mean Years Played = ' + str(round(final[final['HoF']==False]['years_played'].mean(), 2)))
print('Mean Starting Age = ' + str(round(final[final['HoF']==False]['start_age'].astype('Int64').mean(), 2)))


print('Players in Hall of Fame')
print('Mean Height = ' + str(round(final[final['HoF']==True]['Ht_in'].mean(), 2)))
print('Mean Weight = ' + str(round(final[final['HoF']==True]['Wt'].mean(), 2)))
print('Mean Years Played = ' + str(round(final[final['HoF']==True]['years_played'].mean(), 2)))
print('Mean Starting Age = ' + str(round(final[final['HoF']==True]['start_age'].astype('Int64').mean(), 2)))

Players not in Hall of Fame
Mean Height = 77.99
Mean Weight = 209.38
Mean Years Played = 4.97
Mean Starting Age = 23.85
Players in Hall of Fame
Mean Height = 78.23
Mean Weight = 208.23
Mean Years Played = 12.51
Mean Starting Age = 23.68